<!-- create the html and erb -->
<header>
  <ul>
    <li><%= link_to 'Products',@product%></li>
    <li><%= link_to 'About',@product%></li>
    <li><%= link_to 'Contact Us',@product%></li>
  </ul>
</header>