<h1>Search Results for '<%= params[:search_keywords]%>'!</h1>

<% if @found_products.empty? %>
  <p>No Results found</p>
<% else %>

<%= render partial: 'products/product',
          collection: @found_products %>
<% end %>