<h1>Search Results for '<%= params[:search_keywords] || params[:status_search].split.map(&:capitalize).join(' ')%>'!</h1>

<% if @found_products.empty? %>
  <p>No Results found</p>
<% else %>
<%= render partial: 'products/product',
          collection: @found_products %>
<% end %>